.gridcapacity {
    display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-gap: 15px;
    }


.filter-container {
  
    background-image: radial-gradient(center bottom, ellipse cover, #fa97ed, #ff00ea);
    background-image: -o-radial-gradient(center bottom, ellipse cover, #fa97ed, #ff00ea);
    background-image: -ms-radial-gradient(center bottom, ellipse cover, #fa97ed, #ff00ea);
    background-image: -moz-radial-gradient(center bottom, ellipse cover, #fa97ed, #ff00ea);
    background-image: -webkit-radial-gradient(center bottom, ellipse cover,#fa97ed, #ff00ea);
    margin-left: 30px;
    margin-right: 30px;
    padding: 15px;
    margin-bottom: 20px;
    /* height: 200px; */
}

.filter-container ul {
    list-style: none;
    padding-left: 0px;
}
.checkboxes {
    display: flex;
    justify-content: center;
}

.checkboxes li {
    padding-left: 25px;
}




/* mobile media query */
@media (min-width : 320px) and (max-width: 480px) {
     
   
.gridcapacity {
    display: grid;
    grid-template-columns: 1fr;
     grid-template-rows: 1fr
  }
}