
.filter-container {
   
    margin-left: 30px;
    margin-right: 30px;
    padding: 15px;
    margin-bottom: 20px;
    /* height: 200px; */
}

.filter-container ul {
    list-style: none;
    padding-left: 0px;
}
.checkboxes {
    display: flex;
    justify-content: center;
}

.checkboxes li {
    padding-left: 25px;
}

@media (min-width: 320px) and (max-width: 480px) {
     
   
.containergrid {
    display: grid;
    grid-template-columns: 1fr;
     grid-template-rows: 1fr
  }
}


