@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  width: 100vw;
}

* {
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  /*background-color: #282c34;*/
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}