.container {
    top: 150px;
    position:relative;
    margin-bottom: 200px;
    /* display: grid; */
    /* grid-template-columns: 25% 70%; */
    /* grid-template-rows: 33% 33% ; */
    grid-template-areas:  
    ". ProfileDisplay"
    "Profilesearchbar ProfileDisplay "
    ". ProfileDisplay "
}
.item-1 {
   margin-top: -50px;
   margin-bottom: 20px;
}

.item-2 {
        grid-area: ProfileDisplay;
        width: 95%;
        margin: 0px auto;
    }


 /* Media Queries : @media (min-width: 320px) and (max-width: 480px)   */
 
