body {
	background: hsl(0, 0%, 90%);
}


h2 {
    font-size: 1.5rem;
    color: #007489;
  }


img {
	display: block;
	border: 0;
	width: 100%;
    max-height: auto;
    
}

.card .card-content .flaw {
    font-size: 1rem;
}

.card {
	background: white;
    margin-bottom: 2em;
    margin: 10px;	
}


.card-content {
	padding: 1.4em;
}

.card-content h2 {
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: bold;
}

.card-content p {
	font-size: 80%;
}

/* Grid stuff */

.allcards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr
   
 }

 

 /* Media Queries */



 @media (min-width: 320px) and (max-width: 480px) {
    .allcards{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr ;
        
    }
   
}