
/* Css qui définit la Div container qui contient le bouton*/

#clicksearchbar {
    width: 100%;
    height: 100%;
  }

 
/* keyframes pour créer un effet shadow sur le bouton, ainsi que des transitions de couleur sur le bouton et le texte à l'intérieur du bouton */ 
/* 4 keyframes pour chaque navigateur afin qu'il soit compatible partout */ 

  @-webkit-keyframes glowing {
    0% { background-color: rgb(75, 247, 167); box-shadow: 0 0 3px rgb(255, 16, 155); }
    50% { background-color: rgb(75, 247, 167);;box-shadow: 0 0 80px rgb(255, 16, 155);color: rgb(255, 66, 32);}
    100% { background-color: rgb(75, 247, 167);; box-shadow: 0 0 3px rgb(255, 16, 155); color: rgb(91, 121, 255);}
  }
  
  @-moz-keyframes glowing {
    0% { background-color: rgb(75, 247, 167); box-shadow: 0 0 3px rgb(255, 16, 155); }
    50% { background-color: rgb(75, 247, 167);;box-shadow: 0 0 80px rgb(255, 16, 155);color: rgb(255, 66, 32);}
    100% { background-color: rgb(75, 247, 167);; box-shadow: 0 0 3px rgb(255, 16, 155); color: rgb(91, 121, 255);}
  }
  
  @-o-keyframes glowing {
    0% { background-color: rgb(75, 247, 167); box-shadow: 0 0 3px rgb(255, 16, 155); }
    50% { background-color: rgb(75, 247, 167);;box-shadow: 0 0 80px rgb(255, 16, 155);color: rgb(255, 66, 32);}
    100% { background-color: rgb(75, 247, 167);; box-shadow: 0 0 3px rgb(255, 16, 155); color: rgb(91, 121, 255);}
  }
  /* de 0 à 100 % sert pour palier la transition de couleurs! les propriétes et leur couleurs sont définies pour chaque paliers*/ 
  @keyframes glowing {
    0% { background-color: rgb(75, 247, 167); box-shadow: 0 0 3px rgb(255, 16, 155); }
    50% { background-color: rgb(75, 247, 167);;box-shadow: 0 0 80px rgb(255, 16, 155);color: rgb(255, 66, 32);}
    100% { background-color: rgb(75, 247, 167);; box-shadow: 0 0 3px rgb(255, 16, 155); color: rgb(91, 121, 255);}
  }


  /* Css du bouton  de recherche Candidats*/
.buttoncss{
  height: 150px; 
  width: 550px;
  -webkit-border-radius: 10px;
  border-radius: 40px;
  border: none;
  color: rgb(250, 94, 242);
  font-size: 35px;
  font-weight: bolder;
  text-decoration: blink;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 2s infinite;
  -moz-animation: glowing 2s infinite;
  -o-animation: glowing 2s infinite;
  animation: glowing 2s infinite;
}


  
