.height{
    height: 20px;
}

.legend{
    background-color: black;
    color: white;
}

.FormProfil {
    width: 700px;
    margin: 0 auto;
    text-align: left;
   }
   
   .FormProfil h1 {
    text-align: center;
   }
   
   .FormProfil .form-data {
    display: flex;
    justify-content: center;
    margin: 5px 0;
   }
   
   .FormProfil .form-data label {
    display: inline-block;
    width: 250px;
    margin-right: 100px;
    text-align: left;
   }
   
   .FormProfil .form-data input:not([type="submit"]) {
    flex-grow: 1;
   }


    @media screen and (min-width: 480px) and (max-width: 959px) {
               
    }

    @media screen and (max-width: 479px) {

    }
