
/*  Css pour appliquer le dégradé linéaire sur la Div contenant la fonction du SLIDE */
#navbar {
    transform: translateX(-150px);
    transition: transform 1500ms ease-in;
    width: 100%;
    color: white;
    height: 150px;
    padding: 20px;
    font-family: sans-serif;
    background: -moz-linear-gradient(right,#007489,#207a8b,#699da7,#b1d8e2,#e5e2e2,#e2dfdf,rgb(255, 255, 255));
    background: -webkit-linear-gradient(right,#007489,#207a8b,#699da7,#b1d8e2,#e5e2e2,#e2dfdf,rgb(255, 255, 255));
    background: -ms-linear-gradient(right,#007489,#207a8b,#699da7,#b1d8e2,#e5e2e2,#e2dfdf,rgb(255, 255, 255));
    background: -o-linear-gradient(right,#007489,#207a8b,#699da7,#b1d8e2,#e5e2e2,#e2dfdf,rgb(255, 255, 255));
    background: linear-gradient(to left,#007489,#207a8b,#699da7,#b1d8e2,#e5e2e2,#e2dfdf,rgb(255, 255, 255));
  }
  



  /* Css du Slide pour le faire défiler */
  #navbar.slideIn {
    transform: translateX(0);
    margin-top: 55px;
    margin-bottom: 75px;
  }

  
  /* Css du Slide pour le replier */
  #navbar.slideOut {
    transform: translateX(-100%);
    margin-top: 55px;
    margin-bottom: 75px;
  }
  