
/*  Css pour appliquer le dégradé linéaire sur la Div contenant la fonction du SLIDE */
#navbar {
    transform: translateX(-150px);
    transition: transform 1500ms ease-in;
    width: 100%;
    color: white;
    height: 150px;
    padding: 20px;
    font-family: sans-serif;
    background: -moz-linear-gradient(right,#007489,rgb(241, 62, 188),rgb(226, 86, 184),rgb(238, 153, 212),rgb(240, 189, 225),rgb(250, 218, 240),rgb(250, 249, 250));
    background: -webkit-linear-gradient(right,rgb(255, 15, 183),rgb(241, 62, 188),rgb(226, 86, 184),rgb(238, 153, 212),rgb(240, 189, 225),rgb(250, 218, 240),rgb(250, 249, 250));
    background: -ms-linear-gradient(right,rgb(255, 15, 183),rgb(241, 62, 188),rgb(226, 86, 184),rgb(238, 153, 212),rgb(240, 189, 225),rgb(250, 218, 240),rgb(250, 249, 250));
    background: -o-linear-gradient(right,rgb(255, 15, 183),rgb(241, 62, 188),rgb(226, 86, 184),rgb(238, 153, 212),rgb(240, 189, 225),rgb(250, 218, 240),rgb(250, 249, 250));
    background: linear-gradient(to left,rgb(255, 15, 183),rgb(241, 62, 188),rgb(226, 86, 184),rgb(238, 153, 212),rgb(240, 189, 225),rgb(250, 218, 240),rgb(250, 249, 250)); 
  }
  



  /* Css du Slide pour le faire défiler */
  #navbar.slideIn {
    transform: translateX(0);
    margin-top: 55px;
    margin-bottom: 75px;
  }

  
  /* Css du Slide pour le replier */
  #navbar.slideOut {
    transform: translateX(-100%);
    margin-top: 55px;
    margin-bottom: 75px;
  }
  