.container {
    display : flex;
    flex-flow: row nowrap; /*<‘flex-direction’> || <‘flex-wrap’>*/
}

.photo {
    -webkit-filter: blur(5px);
    height: 360px;
    object-fit: cover;
    margin: 1rem;
    width: 640px;
}

.photo:hover {
    -webkit-filter: none;
}

.photoContainer {
    color: whitesmoke;
    font-size: 2.5rem;
    font-weight: 30rem;;
    position: relative;
}

.photoContainer:hover:after {
    display: none;
}

.photoContainer:after {
    content: "SUPER PROFIL DU 'MOI'";
    display: block;
    left: 6.5rem;
    position: absolute;
    top: 50%;
}

.button {
    background: #e6e2e1;
    border-radius:50%;
    box-shadow:2px 2px 8px #aaa;
    color: #ee3103;
    font:bold 13px Arial;
    height:85px;
    width:85px;
}

.name {
    font-size: 1.5rem;
}

.default {
    font-size: 1rem;
}