.picto_contener{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin: auto;
    background-color: #007489;
    opacity: 0.8;
}
.picto_card {
    height: 150px;
    margin-top: 25px;
    border-right: 2px solid black;  
}

.picto_card3 {
    height: 150px;
    margin-top: 25px;
}

.picto_container {
    margin-top: 0px;
    height: 200px;

}

.picto_container p {
    margin-top: -10px;
    display:inline-block;
    max-width: 225px;
}
.image_picto {
    display: inline-block;
    width:30px;
    margin-top: 15px;
    margin-bottom: -10px;
}
h1 {
    display: inline-block;
    margin-bottom: 0px;
    height: 80px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .picto_contener  {
        display: grid;
        grid-template-columns: 1fr;
    }
    .picto_card {
        margin-top:20px;
        border-bottom: 1px solid black;
        border-right: none;
    }
    .picto_card3 {
        height: 150px;
        margin-top: 20px;
    }
    .picto_card p {
        margin-top:0px;
        border: none
    }
    .picto_card3 p {
        margin-top:0px;
        border: none
    }
    .picto_container {
        margin: -4px;
        height: 150px;
        width: 80%;
        margin: auto;
    }
    .display_container p {
        display: inline-block;
        padding-top: 5px;
        margin: 0px;
        max-width: 230px;
    }
    .picto_container h3 {
        margin: 0px;
        max-width: 350px;
    }
    .image_picto {
        margin-top: 10px;
    }
    .titlePicto {
        font-size: 1.5rem;
    }
    h1 {
        color: #13BB79;
        display: inline-block;
        font-size: 2rem;
        /*max-width: 320px*/
    }
}