.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    width: 90%;
    max-width: 1080px;
    margin: auto;
}
.picto1, .picto2, .picto3 {
    margin-top: 50px;
    height: 250px;
    border: solid 1px black;
    border-radius: 8px;
    background-color: rgb(185, 163, 123);

}
.picto1 p {
    margin-top: -10px;
}
.icon1 {
    width:30px;
    margin-top: 15px;
    margin-bottom: -10px;
}
.icon2 {
    width:30px;
    margin-top: 15px;
    margin-bottom: -10px;
}
.icon3 {
    width:30px;
    margin-top: 15px;
    margin-bottom: -10px; 
}