.threeContainer {
    /*background: url("https://image.noelshack.com/fichiers/2019/17/3/1556098392-last.jpg") no-repeat center fixed; 
    background-size: cover;*/
    background-color: black;
    display:flex;
    justify-content:space-around;
    min-height: 50vh;
    width: 100vw;
    margin-top: 30px;
}

.threeButton {
    height: 17vw;
    margin-top: 5vw;
    width: 12vw;
    border-radius: 50%;
}

.threeButton:hover {
    box-shadow: 0px 5px 20px #999;
    transition-duration: .5s;
    transition-timing-function: ease;
}

/*Laptops*/
@media (min-width: 1024px) and (max-width: 1280px) {
    .threeContainer {
        background-size: cover; /* standard version */
        flex-flow: column wrap; 
        min-height: 60vh;
        -webkit-background-size: cover; /* for Chrome & Safari */
    }
    .threeButton {
        background-color: rgba(82, 85, 88, 0.3);
        font:bold 25px Arial;
        height: 14vw;
        width: 14vw;
        margin: 10px;
    }
}

/*Tablets, Ipads*/
@media (min-width: 767px) and (max-width: 1023px) {
    .threeContainer {
        /*background-color: rgba(82, 85, 88, 0.3);*/
        background-size: cover; /* standard version */
        flex-flow: column wrap; 
        min-height: 40vh;
        -webkit-background-size: cover; /* for Chrome & Safari */
    }
    .threeButton {
        font:bold 25px Arial;
        height: 20vw;
        margin: 40px;
        width: 20vw; 
    }
}

/*Low Resolution Tablets, Mobiles*/
@media (min-width: 424px) and (max-width: 768px) {
    .threeContainer {
        background-size: cover; /* standard version */
        flex-flow: column wrap; 
        min-height: 30vh;
        -webkit-background-size: cover; /* for Chrome & Safari */
    }
    .threeButton {
        background-color: rgba(82, 85, 88, 0.3);
        font:bold 25px Arial;
        height: 20vw;
        margin: 10px;
        width: 20vw;
    }
}

/*Most of the Smartphones Mobiles*/
@media (min-width: 320px) and (max-width: 423px) {
    .threeContainer {
        background-size: cover; /* standard version */
        flex-flow: column wrap;
        /*flex-flow: row nowrap;*/
        justify-content: center;
        margin-top: -100px;
        min-height: 20vh;
        -webkit-background-size: cover; /* for Chrome & Safari */
    }
    .threeButton {
        background-color: rgba(82, 85, 88, 0.3);
        font:bold 25px Arial;
        height: 35vw;
        margin: none;
        border-radius:0;
        width: 30vw;
    }
    
}

  
  